:root {
  font-family: Terminal, monospace;
  color-scheme: light;
  background-color: #fefefe;
  color: #242424;
}

#root {
  display: flex;
  width: 100%;
}

.wmde-markdown {
  font-family: Terminal, monospace !important;
  font-size: 1em !important;
}

.handler {
  cursor: pointer;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.MainNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.4em;
  flex-shrink: 0;

  &__item {
    align-content: center;
    font-size: 1em;
  }

  &__list {
    display: inline-flex;
    grid-gap: 0.4em;
    padding: 0.4em;
  }

  &__header {
    a {
      font-weight: 700;
    }
  }
}

.Menu {
  display: inline-flex;
  grid-gap: 0.4em;
  font-size: 0.8em;
  align-items: center;
}

.Content {
  display: flex;
  justify-content: center;
  padding: 1em 1em 0 1em;
  width: 100%;
  // height: calc(100vh - 54px);
  flex: 1;
  overflow-y: hidden;
}

.IconText {
  display: inline-flex;
  grid-gap: 0.2em;
  align-items: center;
}

.Icon {
  width: 21px;
  height: 21px;

  &--sm {
    width: 16px;
    height: 16px;
  }
}

.Button {
  display: inline-flex;
  grid-gap: 0.2em;
  align-items: center;
  border-radius: 1px;
  border: none;
  padding: 0.4em;

  &--disabled {
    cursor: default;
    opacity: 0.3;

    &:hover {
      border: inherit !important;
      color: inherit !important;
      background-color: inherit !important;
    }
  }

  &--active {
    background-color: #242424 !important;
    color: #fefefe !important;
    cursor: default;
  }

  &--primary {
    background-color: #fefefe;
    color: #242424;
  }

  &--primary-border {
    background-color: #fefefe;
    color: #242424;
    border: 2px solid #242424;
    font-weight: 700;

    &:hover {
      border: 2px solid #242424 !important;
      background-color: #242424;
      color: #fefefe;
    }
  }

  &--primary-border-lite {
    background-color: #fefefe;
    color: #242424;
    border: 1px solid #242424;

    &:hover {
      border: 1px solid #242424 !important;
      background-color: #242424;
      color: #fefefe;
    }
  }

  &--size-sm {
    font-size: 0.8em;
  }

  &--size-md {
    font-size: 1em;
  }

  &--size-lg {
    font-size: 1.2em;
    padding: 0.6em;
  }

  &--size-xl {
    font-size: 1.4em;
    padding: 0.8em;
  }

  &:hover {
    border: none;
  }
}

.ControlledInput {
  display: flex;
  grid-gap: 0.4em;
  align-items: center;
  padding: 0.2em;

  &--warning {
    input {
      &::after {
        content: '!';
        display: inline-block;
      }
    }
  }

  label {
    font-size: 0.8em;
  }

  &__alert {
    width: 21px;
  }
}

.Window {
  margin-bottom: 1em;
  padding: 2em;
  border: 2px solid #242424;
  border-radius: 4px;
  width: 100%;

  .Menu {
    align-self: center;
  }
}

.InfoBox {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  align-items: center;
  align-content: center;
}

.LoginPage {
  display: flex;
  flex-direction: column;
  grid-gap: 2em;

  h1 {
    text-align: center;

    small {
      font-size: 0.2em;
    }
  }
}

.CreateNewLog {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

.Group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: 220px auto 320px;
    grid-gap: 2em;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    background-color: #242424;
    color: #fff;
    padding: 0.5em;
    font-size: 0.8em;
    flex-shrink: 0;

    @media (max-width: 1200px) {
      grid-template-columns: 180px auto 220px;
    }

    &__left {
      display: inline-flex;
      justify-content: flex-start;
    }

    &__center {
      display: inline-flex;
      justify-content: center;
    }

    &__right {
      display: inline-flex;
      justify-content: flex-end;
    }

    &__item {
      display: flex;
      align-items: center;
      width: fit-content;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 220px auto;
    grid-gap: 2em;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 180px auto;
    }
  }
}

.GroupLogDashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: 768px) {
    overflow-y: auto;
  }
}

.LogsMenu {
  display: flex;
  flex-direction: column;
  grid-gap: 0.4em;
  overflow-y: auto;
  max-height: 100%;

  @media (max-width: 768px) {
    display: inline-flex;
    flex-direction: row;
    overflow-y: initial;
    overflow-x: auto;
    height: fit-content;
    font-size: 0.7em;
  }

  @media (min-width: 767px) and (max-width: 1200px) {
    font-size: 0.8em;
  }

  &__item {
    display: block;
    padding: 0.8em 1em;
    border: 2px solid #242424;
    text-align: right;

    @media (max-width: 768px) {
      display: flex;
      text-align: center;
      align-items: center;
    }

    &--active, &:hover {
      background-color: #242424;
      color: #fefefe;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.LogPosts {
  display: grid;
  grid-template-columns: auto 320px;
  grid-template-rows: auto 1fr;
  grid-gap: 2em;
  text-align: center;
  height: 100%;

  @media (max-width: 768px) {
    grid-template-columns: auto 180px;
    grid-template-rows: none;
  }

  @media (min-width: 767px) and (max-width: 1200px) {
    grid-template-columns: auto 220px;
  }

  &__menu {
    grid-column: 1 / -1;
    margin-bottom: 1em;
  }

  &__error {
    margin: 1em 0;
    padding: 1em;
  }

  &__posts {
    overflow-y: auto;
    min-height: 0;
    max-height: 100%;

    &__banner {
      align-items: center;

      &--week {
        font-weight: 800;
        margin-bottom: 0.5em;
      }

      &__left {
        text-align: left;
      }
      &__center {
        display: flex;
        flex-direction: column;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      padding: 1em;
      margin: 1em 0;
      border: 1px solid #242424;

      &--selected {
        border: 2px solid #242424;
      }

      &__header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
        font-size: 0.8em;

        &__left {
          text-align: left;
        }
        &__center {
          text-align: center;
        }
        &__right {
          text-align: right;
        }
      }

      &__body {

      }

      &__amount {
        display: inline-flex;
        grid-gap: 0.2rem;
        justify-content: center;
        font-weight: 700;
      }

      &__content {
        margin: 1em 0;

        &__editor {
          display: flex;
          flex-direction: column;
          grid-gap: 1em;
        }
      }
    }
  }
}

.LogPostsCurrency {
  &__input {
    width: 90px;
  }
}

.LogPostComments {
  // overflow-y: auto;
  // max-height: 100%;
  min-height: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
  }

  &__notice {
    padding: 1em;
    font-size: 0.9em;
  }

  &__item {
    position: relative;
    background: #fff;
    // text-align: center;
    border-radius: 10px;
    padding: 0.5em;
    border: #242424 solid 1px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-width: 0 12px 12px 0;
        border-color: transparent #fff transparent transparent;
        top: 22%;
        left: -10px;
        margin-top: -10px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 0;
        z-index: 0;
        border-style: solid;
        border-width: 0 13px 13px 0;
        border-color: transparent #242424 transparent transparent;
        top: 22%;
        left: -12px;
        margin-top: -11px;
        display: block;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__body {
      padding: 1em;
      font-size: 0.8em;
      text-align: left;
    }

    &__footer {
      font-size: 0.7em;
      text-align: right;
    }
  }
}

.Modal {
  &__backdrop {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 55;
    cursor: default;
    border: 2px solid #242424;
    border-radius: 4px;
    width: 100%;

    @media (min-width: 1200px) {
      max-width: 700px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px 8px;
    background-color: #242424;
  }

  &__title {
    font-size: 1em;
    color: #fff;
    margin: 0.2em 0;
  }

  &__button {
    &--close {
      border-radius: 1px;
      border: none;
      padding: 0.4em;
      background-color: transparent;
      color: #fff;
      font-weight: 800;
    }
  }

  &__body {
    padding: 1em;
    text-align: center;;
  }

  &__footer {
    display: flex;
    justify-content: center;
    grid-gap: 0.2em;
    padding: 1em;
  }
}